html {
    height: 100%;
    background-color: #0B0C10;
}
 
body {
    height: 100%;
    background-color: #0B0C10;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.container {    
    margin: auto;
    height: 95%;
    width: 95%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 8% 12% 10% 72%;
    text-align: center;
    color: #45A29E;    
    background-color: #1F2833;
    border-style: solid;
    border-radius: 2%;
}

.container .header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: left;
    border-bottom: solid;
}

.header h1 {
    margin-left: 1%;
}

.scheduleType {
    display: grid;
    margin: 1%;
    text-align: left;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.scheduleButtons button {
    background-color: #1F2833;
    color: #45A29E;
    width: 10%;
    height: 150%;
    border-width: 1px;
    border-radius: 5%;
    border-color: #45A29E;
    box-shadow: none;
}

.scheduleButtons .active {
    box-shadow: none;
    background-color: #0B0C10;
    color: #45A29E;
    border-color: #45A29E;
}

.container .sleepTimes {
    display: grid;
    grid-template-columns: 20% 20%;
    grid-template-rows: 10% 10%;   
    margin: 1%;
    grid-gap: 5%;
    text-align: left;
    height: 100%;
}

.sleepTimes .timeEntry {
    margin-left: 0px;
    margin-right: auto;
    width: 80%;
    font-size: 16px;
    background-color: #0B0C10;
    color: #45A29E;
}

.tasks {
    display: grid;
    float: left;
    margin-top: 3%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 3%;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10%;
    color: #45A29E;
    
}


.dropDown {
    float: none;
    overflow: hidden;
    background-color: #45A29E;
}

.dropDown .dropDownButton {
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    background-color: #0B0C10;
    border-color: #45A29E;
    border-width: 1px;
    border-radius: 5%;
    color: #45A29E;
    width: 100%;
    height: 100%;
}

.dropDownContent {
    display: none;
    min-width: 19%;
    position: absolute;
    background-color: #0B0C10;
    color: #45A29E;
    z-index: 1;
}

.dropDownContent a {
    float: none;
    color: #45A29E;
    padding: 2% 5%;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropDownContent a:hover {
    background-color: #45A29E;
    color: #0B0C10;
}

.show {
    display: block;
}

.taskEntryNav {
    display: grid;
    text-align: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
    font-size: 14px;
}

.taskEntryNav a {
    text-decoration: none;
    text-align: center;
    margin-bottom: 0;
    padding: 5%;
    color: #45A29E;
    background: linear-gradient(currentColor 0 0)
                bottom left/
                var(--underline-width, 0%) 0.1em
                no-repeat;
    transition: background-size 0.5s;
}

.clicked {
    border-bottom-style: solid;
    color: #45A29E;
}

.taskEntryNav a:hover {
    --underline-width: 100%;
    color: #45A29E;
}



.taskEntryContainerLeft {
    display: grid;
    text-align: left;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.taskEntryContainerRight {
    display: grid;
    text-align: left;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.showNavGrid {
    display: grid; 
    border-top-style: solid;
    border-right-style: solid;
    border-width: 1px;
    background-color: #21232a;
}

.showTaskLeftGrid {
    display: grid;
    border-width: 1px;
    background-color: #0B0C10;
    border-left-style: solid;
    border-bottom-style: solid;
    
}

.showTaskRightGrid {
    display: grid;
    border-width: 1px;
    background-color: #0B0C10;
    border-right-style: solid;
    border-bottom-style: solid;
}

.showForm {
    display: none;
}

.clickedForm {
    
}

/* For sleepTimes entry box ||Colors|| */
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%)
}

input[type=time]::-webkit-datetime-edit-hour-field:focus,
input[type=time]::-webkit-datetime-edit-minute-field:focus,
input[type=time]::-webkit-datetime-edit-second-field:focus,
input[type=time]::-webkit-datetime-edit-ampm-field:focus {
  background-color: #1F2833;
}